<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlebcblUQLOXw7yPOiaDXfX5tLrn3FuV0</string>
	<key>GCM_SENDER_ID</key>
	<string>859910858478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastianovalle.SocialMedia</string>
	<key>PROJECT_ID</key>
	<string>notesmacoskavsoft</string>
	<key>STORAGE_BUCKET</key>
	<string>notesmacoskavsoft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859910858478:ios:15232f2c468f92773575ff</string>
</dict>
</plist>